{% extends 'base.html' %}

{% block title %}
    {% if customer %}
        Edit Customer
    {% else %}
        Add Customer
    {% endif %}
{% endblock %}

{% block content %}

    {% if customer %}
        <h1>Edit Customer</h1>
    {% else %}
        <h1>Add Customer</h1>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            {% if customer %}
                Update Customer
            {% else %}
                Add Customer
            {% endif %}
        </button>

    </form>

{% endblock %}