{% extends 'base.html' %}

{% block title %}

    {% if service_request %}
        Edit Service Request
    {% else %}
        Add Service Request
    {% endif %}

{% endblock %}

{% block content %}

    {% if service_request %}
        <h1>Edit Service Request</h1>
    {% else %}
        <h1>Add Service Request</h1>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            {% if service_request %}
                Update Request
            {% else %}
                Create Request
            {% endif %}
        </button>

    </form>

{% endblock %}